<!doctype html>
<title>Lambe Lambe da Transparência</title>
{% if l and l.image %}
    <meta property="og:title" content="LambeLambe - {{l.a.orgao}} e {{l.b.orgao}} - {{l.a.estado}} | Repasses Federais 2012">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ url_for('static', filename='raw/'+l.image+'-hi.png') }}" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="430">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content='{{l.a.estado|preposicao}} {{l.a.estado|longo}}, em 2012, {{l.a.orgao}} recebeu do Governo Federal {{l.razao}} vezes {{l.proporcao}} do que {{l.b.orgao}}{% if l.a.estado != l.b.estado %} {{l.b.estado|preposicao}} {{l.b.estado}} {% endif %}.'>

{% endif %}
<style>
@font-face {
    font-family: 'Stencil';
    src: url('{{ url_for('static', filename='fonts/major_shift-webfont.eot') }}');
    src: url('{{ url_for('static', filename='fonts/major_shift-webfont.woff') }}') format('woff'), url('{{ url_for('static', filename='fonts/major_shift-webfont.svg') }}') format('svg'), url('{{ url_for('static', filename='fonts/major_shift-webfont.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'Legenda';
    src: url('{{ url_for('static', filename='fonts/OpenSans-Regular-webfont.eot') }}');
    src: url('{{ url_for('static', filename='fonts/OpenSans-Regular-webfont.woff') }}') format('woff'), url('{{ url_for('static', filename='fonts/OpenSans-Regular-webfont.svg') }}') format('svg'), url('{{ url_for('static', filename='fonts/OpenSans-Regular-webfont.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
}
</style>
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>

<script>

var loadEstados = function(id, pre) {
    var select = $("#"+id);
    var estados = ["AC","AL","AM","AP","BA","CE","DF","ES","EX","GO","MA","MG","MS","MT","PA","PB","PE","PI","PR","RJ","RN","RO","RR","RS","SC","SE","SP","TO"];

    select.empty();
    $.each(estados, function (index,estado) {
        select.append("<option value='"+estado+"'>"+estado+"</option>");
    });
    select.click(function (i) {
        loadFuncoes('funcao_a', select.val());
        loadFuncoes('funcao_b', select.val());
    });
    $("#"+id+" option[value='"+pre+"']").prop('selected', true);
};

var loadFuncoes = function(id, estado, pre) {
    var select = $("#"+id);
    select.empty();
    $.getJSON("{{ url_for('static', filename='transparencia.json') }}", function (data) {
        $.each(data, function(funcao, estados) {
            if (estado in estados) {
                select.append("<option value='"+funcao+"'>"+funcao+"</option>")
            }
        });
    $("#"+id+" option[value='"+pre+"']").prop('selected', true);
    });
}
$(document).ready(function () {
    var url = window.location.href.split('/');
    var l = url.indexOf('l');
    loadEstados("estado_a", decodeURIComponent(url[l+2]));
    loadFuncoes('funcao_a', $("#estado_a").val(), decodeURIComponent(url[l+1]));
    loadFuncoes('funcao_b', $("#estado_a").val(), decodeURIComponent(url[l+3]));
    $("#enviar").click(function (evt) {
        evt.preventDefault(evt);
        var a = $("#funcao_a").val();
        var b = $("#funcao_b").val();
        var uf = $("#estado_a").val();
        window.location.href = "{{ url_for('index') }}l/"+a+"/"+uf+"/"+b+"/"+uf;
    })
});

</script>

<div class="container">
    {% if l %}
    <div class='lambe'>
        <div class="texto stencil">
            {{l.a.estado|preposicao}} {{l.a.estado|longo}}, em 2012, <span class="a">{{l.a.orgao}}</span> recebeu do Governo Federal <b>{{l.razao}}</b> vezes {{l.  proporcao}} do que <span class="b">{{l.b.orgao}}</span>{% if l.a.estado != l.b.estado %} {{l.b.estado|preposicao}} {{l.b.estado}} {% endif %}.
        </div>
         <div class="grafico">
            {% if l.a.valor > l.b.valor %}
                <div class="a">
                    <div class="square" style="width:195px;height:195px;"></div>
                    <div class="legenda stencil">R$ {{l.a.valor|medida}}</div>
                </div>
                <div class="b">
                    <div class="square" style="width:{{(195*195/l.razao)|square}}px;height:{{(195*195/l.razao)|square}}px;margin-top:{{195-(195*195/l.razao)|square}}px"></div>
                    <div class="legenda stencil">R$ {{l.b.valor|medida}}</div>
                </div>
            {% else %}
                <div class="a">
                    <div class="square" style="width:{{(195*195/l.razao_g)|square}}px;height:{{(195*195/l.razao_g)|square}}px;margin-top:{{195-(195*195/l.razao_g)|square}}px"></div>
                    <div class="legenda stencil">R$ {{l.a.valor|medida}}</div>
                </div>
                <div class="b">
                    <div class="square" style="width:195px;height:195px;"></div>
                    <div class="legenda stencil">R$ {{l.b.valor|medida}}</div>
                </div>
            {% endif %} 
        </div>
        <div class="footer">
            <span>Fonte: Dados do Portal da Transparência<br />www.portaldatransparencia.gov.br</span>
        </div>
    </div>
    {% endif %}
   <div class="ground_control">
        <h1 class="stencil">LambeLambe da Transparência</h1>
        <p>Selecione um Estado e gere um lambe-lambe comparando duas Funções de Governo.</p>
        <form>
            <label for="estado_a">Estado:</label>
            <select name="estado_a" id="estado_a"></select>
            <br />
            <label for="funcao_a">Função A:</label>
            <select name="funcao_a" id="funcao_a"></select>
            <br />
            <label for="funcao_b">Função B:</label>
            <select name="funcao_b" id="funcao_b"></select>
            <br />
            <button id="enviar">Gerar Lambe</button>
        </form>
        <hr />
        {% if l and l.image %}
        Baixe:
        <a href="{{url_for('static', filename='raw/'+l.image+'-a3.pdf')}}">a3</a> <a href="{{url_for('static', filename='raw/'+l.image+'-a4.pdf')}}">a4</a> <a href="{{url_for('static', filename='raw/'+l.image+'-hi.png')}}">png</a>
        <br />
        {% endif %}
        <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;">Compartilhe no Facebook</a>
        <hr />
        <div class="tiny">
            <a href="http://github.com/pmarkun/lambelambe">código no github</a>
        </div>
    </div>
</div>